Premiers exercices

In [3]:
print("Analyse Bourse")

Analyse Bourse

# Let's go learning PYTHON

In [6]:
# Ceci est un commentaire dans la cellule du code 
# Pyhton est une programmation orienté OBJET. On définit les variables 
name = "AJLA"
name

'AJLA'

In [7]:
name = "Louanne"
name 
# La dernière def de la variable l'emporte

'Louanne'

In [8]:
# Pour les chiffres on a 
age = 26 # INTEGRER donc les nombres entier 
print(age)

26

In [9]:
pi = 3,14
pi

(3, 14)

In [10]:
# un dictionnaire c'est CLÉ valeur 

prices = {
    "APPL":248.04,
    "GOOGLE":328.33,
    "TSLA":437.43
}

In [11]:
prices

{'APPL': 248.04, 'GOOGLE': 328.33, 'TSLA': 437.43}

# Comment avoir les données boursières 
# En effet, on ne va pas recopier à la main des dictionnaires

# Donc on utilise les PACKAGES

In [8]:
! pip install yfinance 
# YAHOO FINANCE

Requirement already satisfied: yfinance in /usr/local/python/3.12.1/lib/python3.12/site-packages (1.1.0)
Requirement already satisfied: pandas>=1.3.0 in /usr/local/python/3.12.1/lib/python3.12/site-packages (from yfinance) (3.0.0)
Requirement already satisfied: numpy>=1.16.5 in /usr/local/python/3.12.1/lib/python3.12/site-packages (from yfinance) (2.4.1)
Requirement already satisfied: requests>=2.31 in /home/codespace/.local/lib/python3.12/site-packages (from yfinance) (2.32.5)
Requirement already satisfied: multitasking>=0.0.7 in /usr/local/python/3.12.1/lib/python3.12/site-packages (from yfinance) (0.0.12)
Requirement already satisfied: platformdirs>=2.0.0 in /home/codespace/.local/lib/python3.12/site-packages (from yfinance) (4.5.0)
Requirement already satisfied: pytz>=2022.5 in /usr/local/python/3.12.1/lib/python3.12/site-packages (from yfinance) (2025.2)
Requirement already satisfied: frozendict>=2.3.4 in /usr/local/python/3.12.1/lib/python3.12/site-packages (from yfinance) (2.4.7)
Requirement already satisfied: peewee>=3.16.2 in /usr/local/python/3.12.1/lib/python3.12/site-packages (from yfinance) (3.19.0)
Requirement already satisfied: beautifulsoup4>=4.11.1 in /home/codespace/.local/lib/python3.12/site-packages (from yfinance) (4.14.2)
Requirement already satisfied: curl_cffi<0.14,>=0.7 in /usr/local/python/3.12.1/lib/python3.12/site-packages (from yfinance) (0.13.0)
Requirement already satisfied: protobuf>=3.19.0 in /usr/local/python/3.12.1/lib/python3.12/site-packages (from yfinance) (6.33.5)
Requirement already satisfied: websockets>=13.0 in /usr/local/python/3.12.1/lib/python3.12/site-packages (from yfinance) (16.0)
Requirement already satisfied: cffi>=1.12.0 in /home/codespace/.local/lib/python3.12/site-packages (from curl_cffi<0.14,>=0.7->yfinance) (2.0.0)
Requirement already satisfied: certifi>=2024.2.2 in /home/codespace/.local/lib/python3.12/site-packages (from curl_cffi<0.14,>=0.7->yfinance) (2025.11.12)
Requirement already satisfied: soupsieve>1.2 in /home/codespace/.local/lib/python3.12/site-packages (from beautifulsoup4>=4.11.1->yfinance) (2.8)
Requirement already satisfied: typing-extensions>=4.0.0 in /home/codespace/.local/lib/python3.12/site-packages (from beautifulsoup4>=4.11.1->yfinance) (4.15.0)
Requirement already satisfied: pycparser in /home/codespace/.local/lib/python3.12/site-packages (from cffi>=1.12.0->curl_cffi<0.14,>=0.7->yfinance) (2.23)
Requirement already satisfied: python-dateutil>=2.8.2 in /home/codespace/.local/lib/python3.12/site-packages (from pandas>=1.3.0->yfinance) (2.9.0.post0)
Requirement already satisfied: six>=1.5 in /home/codespace/.local/lib/python3.12/site-packages (from python-dateutil>=2.8.2->pandas>=1.3.0->yfinance) (1.17.0)
Requirement already satisfied: charset_normalizer<4,>=2 in /home/codespace/.local/lib/python3.12/site-packages (from requests>=2.31->yfinance) (3.4.4)
Requirement already satisfied: idna<4,>=2.5 in /home/codespace/.local/lib/python3.12/site-packages (from requests>=2.31->yfinance) (3.11)
Requirement already satisfied: urllib3<3,>=1.21.1 in /home/codespace/.local/lib/python3.12/site-packages (from requests>=2.31->yfinance) (2.5.0)

[notice] A new release of pip is available: 25.3 -> 26.0
[notice] To update, run: python3 -m pip install --upgrade pip

In [7]:
! pip install matplotlib

Requirement already satisfied: matplotlib in /usr/local/python/3.12.1/lib/python3.12/site-packages (3.10.8)
Requirement already satisfied: contourpy>=1.0.1 in /usr/local/python/3.12.1/lib/python3.12/site-packages (from matplotlib) (1.3.3)
Requirement already satisfied: cycler>=0.10 in /usr/local/python/3.12.1/lib/python3.12/site-packages (from matplotlib) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in /usr/local/python/3.12.1/lib/python3.12/site-packages (from matplotlib) (4.61.1)
Requirement already satisfied: kiwisolver>=1.3.1 in /usr/local/python/3.12.1/lib/python3.12/site-packages (from matplotlib) (1.4.9)
Requirement already satisfied: numpy>=1.23 in /usr/local/python/3.12.1/lib/python3.12/site-packages (from matplotlib) (2.4.1)
Requirement already satisfied: packaging>=20.0 in /home/codespace/.local/lib/python3.12/site-packages (from matplotlib) (25.0)
Requirement already satisfied: pillow>=8 in /usr/local/python/3.12.1/lib/python3.12/site-packages (from matplotlib) (12.1.0)
Requirement already satisfied: pyparsing>=3 in /usr/local/python/3.12.1/lib/python3.12/site-packages (from matplotlib) (3.3.2)
Requirement already satisfied: python-dateutil>=2.7 in /home/codespace/.local/lib/python3.12/site-packages (from matplotlib) (2.9.0.post0)
Requirement already satisfied: six>=1.5 in /home/codespace/.local/lib/python3.12/site-packages (from python-dateutil>=2.7->matplotlib) (1.17.0)

[notice] A new release of pip is available: 25.3 -> 26.0
[notice] To update, run: python3 -m pip install --upgrade pip

In [9]:
import yfinance as yf

# La structure d'un projet python : 
 Une cellule où l'on importe TOUS LES PACKAGES
 Comme ça on a une overview des DEPENDANCES

In [10]:
import yfinance as yf 
import pandas as pd 
import numpy as np 
import matplotlib

In [4]:
ticker = "AAPL"

In [20]:
# Pour prendre les données de PACKAGE Yfinance on utilise 
# une FONCTION qui est def dans ce package pour EXTRAIRE la donnée 
data = yf.download(ticker , start="2020-01-01", auto_adjust=False)

[*********************100%***********************]  1 of 1 completed

In [21]:
data

Price,Adj Close,Close,High,Low,Open,Volume
Ticker,AAPL,AAPL,AAPL,AAPL,AAPL,AAPL
Date,,,,,,
2020-01-02,72.468262,75.087502,75.150002,73.797501,74.059998,135480400
2020-01-03,71.763718,74.357498,75.144997,74.125000,74.287498,146322800
2020-01-06,72.335564,74.949997,74.989998,73.187500,73.447502,118387200
2020-01-07,71.995377,74.597504,75.224998,74.370003,74.959999,108872000
2020-01-08,73.153488,75.797501,76.110001,74.290001,74.290001,132079200
...,...,...,...,...,...,...
2026-01-26,255.410004,255.410004,256.559998,249.800003,251.479996,55969200
2026-01-27,258.269989,258.269989,261.950012,258.209991,259.170013,49648300
2026-01-28,256.440002,256.440002,258.859985,254.509995,257.649994,41288000
2026-01-29,258.279999,258.279999,259.649994,254.410004,258.000000,67253000
2026-01-30,259.480011,259.480011,261.899994,252.179993,255.169998,92352600

In [22]:
data.head() # fct pour voir les 5 premières
data.tail() # les 5 dernières

Price,Adj Close,Close,High,Low,Open,Volume
Ticker,AAPL,AAPL,AAPL,AAPL,AAPL,AAPL
Date,,,,,,
2026-01-26,255.410004,255.410004,256.559998,249.800003,251.479996,55969200
2026-01-27,258.269989,258.269989,261.950012,258.209991,259.170013,49648300
2026-01-28,256.440002,256.440002,258.859985,254.509995,257.649994,41288000
2026-01-29,258.279999,258.279999,259.649994,254.410004,258.000000,67253000
2026-01-30,259.480011,259.480011,261.899994,252.179993,255.169998,92352600

# Packages utilisés : 
Core analysis et financial specific 

Advanced Analytics : 
- scikit-learn 
- tensorflow 
- prophet 
- arch

In [24]:
# 2. Calculer les rendements journaliers (Daily Returns)
# On utilise le "Adj Close" (Prix ajusté aux dividendes/splits)
data ['Return'] = data ['Adj Close'].pct_change()

# 3. Calculer la volatilité et le rendement moyen (Annualisés)
# Il y a environ 252 jours de trading dans une année
mean_return_daily = data ['Return'].mean()
volatility_daily = data ['Return'].std()
annualized_return = mean_return_daily * 252
annualized_volatility = volatility_daily * np.sqrt(252)

In [25]:
# 4. Calcul du Ratio de Sharpe (supposons taux sans risque = 0)
sharpe_ratio = annualized_return / annualized_volatility 
print(f"--- Analyse pour {ticker} ---")
print(f"Rendement annuel moyen: {annualized_return:.2%}")
print(f"Volatilité annuelle: {annualized_volatility:.2%}")
print(f"Ratio de Sharpe: {sharpe_ratio:.2f}")

--- Analyse pour AAPL ---
Rendement annuel moyen: 26.06%
Volatilité annuelle: 31.69%
Ratio de Sharpe: 0.82